<?xml version="1.0" encoding="utf-8"?>
<packages>
<package id="ChocolateyGUI" />
<package id="Chocolatey-AutoUpdater" />
<package id="choco-update-notifier" />
<package id="choco-package-list-backup" />
<package id="chocolatey-vscode" />
<package id="chocolatey-windowsupdate.extension" />
<package id="vscode" />
<package id="vscode-gitignore" />
<package id="vscode-cpptools" />
<package id="vscode-vsliveshare" />
<package id="vscode-puppet" />
<package id="vscode-ruby" />
<package id="vscode-pylance" />
<package id="vscode-drawio" />
<package id="vscode-kubernetes-tools" />
<package id="azurefunctions-vscode" />
<package id="vscode-live-share" />
<package id="vscode-azure-deploy" />
<package id="vscode-cloud-code" />
<package id="vscode-rust-test-adapter" />
<package id="microsoft-windows-terminal" />
<package id="geforce-experience" />
<package id="nvidia-geforce-now" />
<package id="epicgameslauncher" />
<package id="battle.net" />
<package id="goggalaxy" />
<package id="steam" />
<package id="itch" />
<package id="amazongames" />
<package id="bethesdanet" />
<package id="razer-synapse" />
<package id="playnite" />
<package id="rpi-imager" />
<package id="unetbootin" />
<package id="qbittorrent" />
<package id="gitextensions" />
<package id="aws-iam-authenticator" />
<package id="awssdk-tools" />
<package id="awscli" />
<package id="qbittorrent" />
<package id="icloud" />
<package id="7zip" />
<package id="microsoft-windows-terminal" />
<package id="atom" />
<package id="git" />
<package id="gh" />
<package id="unxUtils" />
<package id="neovim" />
<package id="which" />
<package id="sudo" />
<package id="openssh" />
<package id="wsl" />
<package id="wsl2" />
<package id="docker-desktop" />
<package id="wsl-archlinux" />
<package id="wsl-kalilinux" />
<package id="wsl-fedoraremix" />
<package id="wsl-debiangnulinux" />
</packages>